<div class="nav-container">
    <ul>
        <li>
            <a routerLink="/usershow" class="btn btn-primary btn-sm" routerLinkActive="active">View Teams</a>
        </li>
        <li>
            <a routerLink="/dashboard/assign" class="btn btn-primary btn-sm" routerLinkActive="active">Assign</a>
        </li> 
        <li>
            <a routerLink="/viewalluserplayers" class="btn btn-primary btn-sm" routerLinkActive="active">View Players</a>
        </li>
        <li>
            <a routerLink="/viewunsoldplayers" class="btn btn-primary btn-sm" routerLinkActive="active">View UnsoldPlayers</a>

        </li>

    </ul>
</div>
<div class="container">
    <img src="/assets/stadium.jpg">
</div>