<div class="nav-container">
    <ul>
        <li>
            <a routerLink="/dashboard/addteams" class="btn btn-info btn-sm" routerLinkActive="active">Add Teams</a>
        </li>
        <li>
            <a routerLink="/dashboard/addplayers" class="btn btn-info btn-sm" routerLinkActive="active">Add Players</a>
        </li>
        <li>
            <a routerLink="/dashboard/showteams" class="btn btn-info btn-sm" routerLinkActive="active">Show Teams</a>
        </li>
        <li>
            <a routerLink="/viewallplayers" class="btn btn-info btn-sm" routerLinkActive="active">Show Players</a>
        </li>
        
    </ul>
</div>
<div class="container">
    <img src="/assets/ipl-team.jpg">
</div>