<div style="background-color: aqua;">
<div style="text-align: center;color: blue;">
    <h1>Add Players</h1>
</div>
<div class="container">
    <form #addplayers="ngForm" (ngSubmit)="submit(addplayers)">
        <div class="form-group">
            <label>Player Name</label>
            <input #name="ngModel" [(ngModel)]="pname" [ngModelOptions]="{standalone:true}" required type="text" class="form-control" id="pname" placeholder="Enter PlayerName" ngModel name="pname">
        </div> 
        <div class="form-group">
            <label>Player Email</label>
            <input #playeremail="ngModel" [(ngModel)]="pemail" [ngModelOptions]="{standalone:true}" required type="email" class="form-control" id="pemail" placeholder="Enter PlayerEmail" ngModel name="pemail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <div *ngIf="playeremail.touched && playeremail.errors?.['required']" class="alert alert-danger">
                Email is required
            </div>
            <div *ngIf="playeremail.touched && playeremail.errors?.['pattern']" class="alert alert-danger">
                Email is not a valid
            </div>
        </div>
        <div class="form-group">
            <label>Player Category</label>
            <input #name="ngModel" [(ngModel)]="pcategory" [ngModelOptions]="{standalone:true}" required type="text" class="form-control" id="pcategory" placeholder="Enter PlayerCategory" ngModel name="pcategory">
        </div>
        <div class="form-group">
            <label>Player Country</label>
            <input #name="ngModel" [(ngModel)]="pcountry" [ngModelOptions]="{standalone:true}" required type="text" class="form-control" id="pcountry" placeholder="Enter PlayerCountry" ngModel name="pcountry">
        </div> 
        <div class="form-group">
            <label>Player Age</label>
            <input #name="ngModel" [(ngModel)]="page" [ngModelOptions]="{standalone:true}" required type="text" class="form-control" id="page" placeholder="Enter PlayerAge" ngModel name="page">
        </div>  
        <div class="form-group">
            <label>Player Budget</label>
            <input #name="ngModel" [(ngModel)]="pbudget" [ngModelOptions]="{standalone:true}" required type="text" class="form-control" id="pbudget" placeholder="Enter PlayerBudget" ngModel name="pbudget">
        </div>      
        
        <button type="submit" class="btn btn-primary">Add Player</button>&nbsp;
        <a routerLink="/dashboard" class="btn btn-primary" routerLinkActive="active">Back</a>

  
    </form>
</div>
</div>
        
        

